<!-- to save the map: rosrun map_server map_saver -f map -->
<launch>
    <param name="use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <!--remap from="scan" to="base_scan"/-->
      <!--param name="particles" value="30"/-->
      <param name="xmin" value="-20.0"/>
      <param name="ymin" value="-20.0"/>
      <param name="xmax" value="20.0"/>
      <param name="ymax" value="20.0"/>
      
    </node>
</launch>
