<!--  -->
<launch>
	<!--arg name="model" /-->
	<!--arg name="gui" default="False" /-->
	<!--param name="robot_description" textfile="$(arg model)" /-->
	<!--param name="robot_description" textfile="$(find morelab_robot_description)/urdf/mybot_yellow.urdf" /-->
	<!--param name="robot_description" textfile="$(find morelab_robot_description)/urdf/robot2.urdf" /-->
	<!--param name="use_gui" value="$(arg gui)"/-->
	<!--param name="use_gui" value="True"/-->
	<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
	<!--
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<param name="publish_frequency" value="20.0"/>  20 
    	</node> -->
	
	 
	<!--node name="cadrl_hrvo" pkg="hrvo" type="cadrl_hrvo" output="screen"/-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hrvo)/rviz/hrvo_icra2019.rviz" /> 
	

</launch>
